{% extends 'base.html.twig' %}

{% block body %}
    <h1>Create new Category</h1>

    {{ include('category/_form.html.twig', {'form': form}) }}

    <a href="{{ path('category_index') }}">back to list</a>
{% endblock %}
