{% extends 'base.html.twig' %}

{% block content %}
    <h1>Upload Project</h1>

    {{ form_start(form) }}
        {{ form_row(form.projectFile) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}

{% endblock %}
